 /*estilo para el titulo*/

#titulo {
    align-items: center;
            color: blue; 
        }
#p {
    background-color:grey ;
    height:22em ;
    margin-top:1em;
    margin-bottom:1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid rgb(41, 59, 39);
        }
#div1 {
    background-color:rgb(167, 233, 167) ;
    height:20em ;
    margin-top:1em;
    margin-bottom:1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid rgb(41, 59, 39);
}
#div2 {
    background-color:rgb(179, 178, 241) ;  
    height:20em ;
    margin-bottom:1em;
    margin-top:1em;
    font-family:'Courier New', Courier, monospace ;   
     border: 1px double rgb(41, 59, 39);
}
#div3 {background-color:rgb(253, 255, 137) ; 
    position: relative;
    height:20em ;
    margin-top:1em;
    margin-bottom:1em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border:dashed 1px rgb(41, 59, 39);
}
#enlistar {   
   
    display:flexbox;
    height: 15em;
    width: 15em;
}
#fotos{
    width: 100vw;
}

#video{
position: absolute;
right: 1em;
}
#imagenes {
    position: absolute;
    right: 1em;
    width: 400px;
    height: 200px;
}


    



